<div id="log_in">
  <p class="green_header">Log In</p>
  <%= render '/sessions/new_session' %>
</div>

<p class="orange_header">OR</p>

<div id="log_in">
  <p class="green_header">Sign up</p>
  <%= render '/users/new_user' %>
</div>