<nav>
  <ul>
    <li><%= link_to "Blog", "http://www.495west.com" %></li>
    <li><%= link_to "The Truth About Law School", "http://www.thetruthaboutlawschool.com" %></li>
    <li></li>
  </ul>
</nav>