<h1>Editing user_knowledge_state</h1>

<%= form_for @user_knowledge_state do |f| %>
  <%= render 'form', :f => f %>
<% end %>

<%= link_to 'Show', @user_knowledge_state %> |
<%= link_to 'Back', user_knowledge_states_path %>
