/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 * removed <= require_tree .> so not require everything
*/

// Clear everything

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  border: solid 1px black;
//  word-wrap: break-word;
//  word-break: break-all;
  }
body {
  font-size: 14px;
  font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
  line-height: 1; }

ol, ul {
  list-style: none; }

$darkblue1: #4E4D56;
$darkblue2: #47616F;
$lightblue1: #56C1DA;
$lightblue2: #9AC0CD;
$gray1: #E2E3E5;
$gray2: #EBECEF;
$gray3: #C9C9C9;
$gray4: #3D3537;
$darkgray: #636363;
$green: #5C963C;
$darkgreen: #45702d;
$lightgreen: #58E09A;
$purple: #7B489E;
$orange: #EE9134;
$yellow: #F7ED3E;
$white: #FFFFFF;


@import "home.css.scss";
@import "knowledges.css.scss";
@import "users.css.scss";
@import "lesson_plantations.css.scss";

.orange_header  {
  color: $orange;
  font-size: 20px;
  font-weight: normal;
  padding-top: 12px;
}

.green_header {
  color: $green;
  font-size: 28px;
  font-weight: normal;
  margin-top: 12px;
  text-align: center;
}

input[id="search"], input[id="email"], input[id="user_email"], input[id="password"], input[id="user_password"], input[id="user_password_confirmation"] {
  background-color: white;
  border-radius: 8px;
  color: $green; //typing text color
  font-size: 12px;
  height: 20px;
  margin: 4px 0px;
  text-align: center;
  width: 208px;
  &:focus {
    background-color: white;
    border: 2px green solid;
    outline: none;
  }
}

input[type="submit"] {
  color: $green;
  font-size: 18px;
  margin-bottom: 20px;
  &:hover {
    color: $darkgreen;
    cursor: pointer;
  }
}

nav.top_menu {
  
  margin: 4px 0 0 4px;
  
  a {
    color: $orange;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
  }
}
