// Place all the styles related to the Knowledges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#knowledges_controller {

  h1 {
    font-size: 20px;
    margin: 12px 0px;
  }

  .knowledges_providers {
    border: 1px solid black;
    th, td {
      border: 1px solid black;
      padding: 12px;
      text-align: center;
    }
    
    .knowledge_id  {
      width: 20px;
    }
    
    .knowledge_title {
      width: 240px;
    }
  }

  .field {
    background-color: gray;
    margin: 10px 0 0 0;
  }

  th .current {
    padding-right: 12px;
    background-repeat: no-repeat;
    background-position: right center;
  }

  th .asc {
    background-image: url(up_arrow.gif);
  }

  th .desc {
    background-image: url(down_arrow.gif);
  }

}