<!doctype html>
%html
  %head
    %title ItsJaredC
    %meta{:content => 'The Truth About Law School helps people decide whether they should go to law school by educating them about law school and being a lawyer. Should I Go To Law School? Law school advice. Apply to Law School', :name => 'description'}
    = stylesheet_link_tag "application.css"
    = javascript_include_tag "application.js"
    = csrf_meta_tags

  %body

    = yield
